<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 用于初始化Spring容器的Listener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:springxml/*.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- <filter>
		<filter-name>privFilter</filter-name>
		<filter-class>com.yrtech.wx.capp.framework.core.filter.PrivCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>privFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping> -->
	
	<!-- 定义Struts2的FilterDispathcer的Filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<!-- FilterDispatcher用来初始化struts2并且处理所有的WEB请求。 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	
	<!-- 用于初始化Spring容器的Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 应用启动加载项  -->
	<listener>
		<listener-class>com.yrtech.wx.capp.framework.core.web.CoreDataInit</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.yrtech.wx.capp.portal.task.TGDataTaskListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>handout.HandoutTaskListener</listener-class>
	</listener>
	
	<!-- 应用定时任务  -->
	
	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<error-page>  
        <error-code>404</error-code>  
        <location>/pages/exception/404.jsp</location>  
    </error-page>  
    <error-page>  
        <error-code>500</error-code>  
        <location>/admin/error.action</location>  
    </error-page>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
